{%- set version = pillar.postgresql.server.get('version', '9.3') %}
{%- set version_numbers = version|replace('.', '') %}
{%- set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['postgresql-'+version, 'postgresql-contrib-'+version, 'postgresql-doc-'+version, 'postgresql-server-dev-'+version],
        'service': 'postgresql',
        'version': version,
        'init_command': 'pg_createcluster '+version+' main --start',
        'dir': {
          'config': '/etc/postgresql/'+version+'/main'
        },
        'gis': False,
    },
    'RedHat': {
        'pkgs': ['postgresql93-server', 'postgresql93-contrib'],
        'service': 'postgresql-'+version,
        'version': version,
        'init_command': 'service postgresql-9.3 initdb',
        'dir': {
          'config': '/var/lib/pgsql/9.3/data'
        },
        'gis': False,
    },
}, merge=salt['pillar.get']('postgresql:server')) %}