Source: salt-formula-postgresql
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-postgresql
Vcs-Git: https://github.com/tcpcloud/salt-formula-postgresql.git

Package: salt-formula-postgresql
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: PostgreSQL salt formula
 Install and configure PostgreSQL database.
